<%-include('partials/header.ejs') %>
<body>
    <%-include('partials/navbar.ejs') %>
    <section class="container" id="card-pergunta">
        <hr>    
        <h3><%= pergunta.title %></h3>
        <p><%= pergunta.desc %></p>
        <hr>
    </section>
</body>
<%-include('partials/footer.ejs') %>